.theorem {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.theorem:before {
    content: "Theorem:";
    font-weight: 500;
    font-style: normal;
}
.lemma {
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.lemma:before {
    content: "Lemma:";
    font-weight: 500;
    font-style: normal;
}
.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.proof:before {
    content: "Proof:";
    font-style: italic;
}
.proof:after {
    content: "\25FC";
    float:right;
}
.definition {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.definition:before {
    content: "Definition:";
    font-weight: 500;
    font-style: normal;
}
sec_math
{
	font-family: inherit;
	font-size: 16px;
	/*font-style: italic;*/
	font-weight: 500;
	font-smoothing: always;
	color: #000;
}